body{
    font-family: Georgia, 'Times New Roman', Times, serif;
   margin: 0;
   padding: 20px;
   background-image: url("https://www.shutterstock.com/image-photo/abstract-white-grey-background-subtle-260nw-1956742048.jpg");
  background-repeat: no-repeat;
  background-size: cover;
   
   
}
.user-card{
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    width: 400px;
    height: 500px;
    text-align: center;
    /* float: left; */
    display: inline-block;
    border-radius: 15px;
    
}


.user-card h2{
    font-size: 40px;
    font-style: oblique;
    margin-bottom: 10px;
    
}

.user-card p{
    font-size: 30PX;
    margin: 5px 0;
}

.border-dashed:hover{
    border-style: dashed;
    cursor: pointer;
   background: linear-gradient(to right, rgb(245, 165, 245), rgb(234, 169, 65));
   position: relative; /* Включаем z-index */
  z-index: 333; /* Выводим на передний план */
  box-shadow: 15px 15px 15px #000; /* Применяем тень */
}

.border-dotted:hover{
  cursor: pointer;
border-style: dotted;
background: linear-gradient(to right, rgb(154, 91, 231), rgb(82, 216, 234));
 position: relative; /* Включаем z-index */
  z-index: 333; /* Выводим на передний план */
  box-shadow: 15px 15px 15px #000; /* Применяем тень */
}

.border-double:hover{
  cursor: pointer;
    border-style: double;
   background: linear-gradient(to right, rgb(171, 255, 167), rgb(206, 179, 250));
    position: relative; /* Включаем z-index */
  z-index: 333; /* Выводим на передний план */
  box-shadow: 15px 15px 15px #000; /* Применяем тень */
}
